<div class="col">
  <div class="row">
    <h2>Select File</h2>
    <input id="myInput" type="file" style="visibility:hidden"/>
    <div class="form-group">
      <label for="usr">Selected file:</label>
      <input type="text" class="form-control" id="usr" [value]="selectedFile" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Problem type:
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary  dropdown-toggle"> {{ type }} <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click)="onTypeChange('wcsp')">wcsp</a></li>
          <li><a (click)="onTypeChange('wcnf')">wcnf</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="selectedFile != ''">
    <div class="col">
      <h4>File prewiev:</h4>
      <textarea class="form-control" readonly style="min-height: 200px">{{selectedFileContent}}</textarea>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="btn-group btn-group-justified">
          <a class="btn btn-warning" [ngxFilePicker]="readMode" (filePick)="onFilePicked($event)">Browse</a>
          <a class="btn btn-success" (click)="onSolve()">Solve</a>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>


