<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <img src="http://www.iet.agh.edu.pl/files/6214/2529/3032/logo-agh_cmyk.JPG" class="img1"/>
        <img src="https://www.eaiib.agh.edu.pl/images/logo-eaiib.png" class="img1"/>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <h3>Mentor: </h3>
    <ul>
      <li>Radosław Klimek</li>
    </ul>
    <h3>Authors: </h3>
    <ul>
      <li>Tomasz Borowicz</li>
      <li>Krzysztof Świder</li>
    </ul>
    <h3>Description: </h3>
    <p>Suspendisse potenti. Curabitur lacinia, ex in condimentum semper, ligula dui finibus sapien, sit amet consequat diam lacus et dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi nec hendrerit nibh. Morbi imperdiet finibus metus vitae molestie. Sed lobortis odio leo. Pellentesque quis turpis suscipit dolor commodo convallis. Integer molestie tortor at justo maximus, ut pharetra nisi feugiat. Aenean gravida augue sit amet leo condimentum varius. Vivamus elementum metus lectus, sed tempus eros blandit ac. In eu cursus nisl. Suspendisse tincidunt ligula arcu. Pellentesque pellentesque libero vel metus lobortis, ut euismod orci suscipit. Aenean laoreet sodales nibh eu iaculis. Integer eget justo vel urna lacinia auctor. Pellentesque rutrum consectetur mauris eget maximus.</p>
    <h3>Links: </h3>
    <a href="http://www.github.com/tomaboro/git"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="75" height="75" title="Frontend sources"/></a>
    <a href="https://github.com/kswider/Projekt-SOA"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="75" height="75" title="Backend sources"/></a>
    <a href="https://docs.google.com/document/d/1gjgXB9xGj8n5DqT2knuSvLDTtgN3IOgfUPxW_l1s5Xc/edit"><img src="https://www.computerhope.com/jargon/g/google-docs.gif" width="75" height="75" title="Project documentation"/></a>
    <a href="http://www7.inra.fr/mia/T/toulbar2/"><img src="https://image.ibb.co/cN14Cd/toulbar2_logo.png"  title="toulbar2 webpage"></a>
  </div>
  <div class="col-sm-2"></div>
</div>
